@import "__config";

@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font_family;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.025em;
  color: $font_color;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  transition: all 0.3s ease;
  text-decoration: none;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: 0;
}

.en {
  font-family: $font_en;
  font-weight: 400;
}

.more {
  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0;
    letter-spacing: 0;
    font-size: 1rem;

    a {
      display: block;
      font-family: $font_en;
      font-weight: 600;
      margin: 0 0 0 26px;

      &::after {
        content: "";
        display: block;
        background-color: #000;
        width: 100%;
        height: 1px;
      }
    }
  }
}


.header {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  height: 70px;

  @media #{$middle_over} {
    height: 80px;
    padding: 12px 35px;
  }

  .logo {
    width: 40px;
    line-height: 1;

    @media #{$middle_over} {
      width: 50px;
    }
  }

  h1 {
    font-size: .7rem;
    font-weight: 400;
    padding: 0 0 0 15px;

    @media #{$middle_over} {
      font-size: .8rem;
      padding: 0 0 0 25px;
    }
  }
}

.fv {
  @media #{$middle_over} {
    max-width: 800px;
    margin: 0 auto;
  }

  &-cta {
    padding: 15px 0 20px;

    @media #{$middle_over} {
      padding: 30px 0 20px;
    }
  }
}

.campaign {
  &-item {
    padding: 50px 20px 20px;

    @media #{$middle_over} {
      max-width: 800px;
      margin: 0 auto;
    }
  }

  &-header {
    position: relative;
    text-align: center;
    color: $gold;
    line-height: 1.4;

    &::after {
      content: "";
      display: block;
      background-color: $gold;
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 20px;

      @media #{$middle_over} {
        bottom: 25px;
      }
    }
  }

  &-label {
    display: block;
    font-family: "Ephesis", cursive;
    font-size: 30px;

    @media #{$middle_over} {
      font-size: 40px;
    }
  }

  &-number {
    display: inline-block;
    position: relative;
    z-index: 1;
    font-family: $font_en;
    font-weight: 600;
    font-size: 36px;
    background-color: #fff;
    padding: 0 10px;

    @media #{$middle_over} {
      font-size: 46px;
      padding: 0 20px;
    }
  }

  &-title {
    font-size: 28px;
    color: #000;
    padding: 20px 0 0;

    @media #{$middle_over} {
      padding: 30px 0 0;
    }
  }

  &-badge {
    text-align: center;
    padding: 40px 0 0;

    .badge-text {
      background-color: $gold;
      color: #fff;
      border-radius: 10px;
      padding: 2px 10px;

      @media #{$middle_over} {
        font-size: 18px;
      }
    }
  }

  &-condition {
    text-align: center;
    padding: 10px 0 0;

    @media #{$middle_over} {
      font-size: 18px;
    }

    strong {
      display: block;
      color: $gold;
      font-size: 30px;

      @media #{$middle_over} {
        font-size: 40px;
      }
    }
  }

  &-note {
    font-size: 12px;
    text-align: center;
    padding: 10px 0 0;

    @media #{$middle_over} {
      font-size: 14px;
    }
  }

  &-sub {
    border: solid $gold 1px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto 0;
    text-align: center;
    padding: 30px 0;

    &-title {
      font-size: 24px;
      color: $gold;
    }

    &-text {
      font-size: 14px;
      line-height: 1.6;
      padding: 20px 0 0;

      span {
        color: $gold;
      }
    }
  }
}

.between-sections-cta {
  padding: 70px 0;

  @media #{$middle_over} {
    max-width: 600px;
    margin: 0 auto;
  }
}

.price {
  &-text {
    .text {
      line-height: 2;
      padding: 20px 0 20px;
      text-align: center;
      font-weight: 500;

      span {
        color: #5d82da;
        font-size: 1.5rem;
      }
    }

    .btn {
      a {
        display: block;
      }
    }
  }
}

.ganban {
  padding: 40px 0 0;
}

.review {
  padding: 120px 20px 0;
}

.lp-flow {
  @media #{$middle_over} {
    max-width: 1000px;
    left: auto;
    right: 30px;
  }
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 50px 30px 160px;

  @media #{$middle_over} {
    padding: 50px 60px 180px;
  }

  &-title {
    font-family: $font_en;
    font-size: .9rem;
    color: $gold;
    padding: 0 0 30px;
  }

  &-list {
    @media #{$middle_over} {
      display: flex;
      align-items: flex-start;
    }

    li {
      padding: 0 0 50px;

      @media #{$middle_over} {
        padding: 0 50px 50px 0;
        width: 420px;
      }

      h2 {
        font-weight: 400;
        font-size: 1.1rem;
      }

      .address {
        font-size: .9rem;
        font-weight: 300;
        padding: 10px 0 0;
      }

      .map {
        padding: 15px 0 0;

        a {
          font-family: $font_en;
          font-size: .8rem;
          display: inline-block;
          border: solid #fff 1px;
          padding: 2px 10px;
        }
      }

      .holiday {
        font-size: .8rem;
        font-weight: 400;
        padding: 20px 0 0;
      }

      .google {
        width: 100%;
        height: 200px;
        padding: 40px 0 0;

        @media #{$middle_over} {
          padding: 30px 0 0;
        }

        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .sns {
    padding: 40px 0 0;

    @media #{$middle_over} {
      padding: 60px 0 0;
    }

    &-ig {
      display: flex;
      align-items: center;
      font-family: $font_en;
      font-size: 1rem;
      font-weight: 400;

      &::before {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        background-image: url(../ig_icon_white.svg);
        background-size: 100% auto;
        margin: 0 7px 0 0;
      }
    }
  }
}